label {
	cursor: pointer;
	display: block;
}

input,
textarea {
	font-size: 1rem;
}

.input-text {

	border: 1px solid #ccc;
	background-image: linear-gradient(to bottom, #fff, #e2e2e2);
	padding: 0.5em, 0.5em;
	font-size: 1rem;
	width: 100%;
}


input + label {
	display: inline;
}

button {
	padding: 1em;
	font-size: 1.125rem;
	border: 2px solid #00f;
	background-image: linear-gradient(to bottom, #fff, #e2e2e2);
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
}

.error {
	display: block;
	color: #f33;
	font-style: italic;
}

.input-error {
	border: 2px solid #f33;
}